<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="nGgSE0y0GTebGelkbQPgF8GuzOuxpZm_sqEOQhikEns"/>
    <title>EventReminder Bot</title>
</head>

<body>
<table>
    <tr>
        <td><a href="/test">Test an API request</a></td>
        <td>Submit an API request and see a formatted JSON response.
            Go through the authorization flow if there are no stored
            credentials for the user.
        </td>
    </tr>
    <tr>
        <td><a href="/authorize">Test the auth flow directly</a></td>
        <td>Go directly to the authorization flow. If there are stored
            credentials, you still might not be prompted to reauthorize
            the application.
        </td>
    </tr>
</table>
</body>
</html>
